<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="id" />	
	<meta name="description" content="{{ this.meta_description }}" /> 
	<meta name="keywords" content="{{ this.meta_keywords }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
     
	<!-- Fonts -->
	<link href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/css26b1.css' }}" rel='stylesheet' type='text/css'>
	
	<link rel="shortcut icon" type="image/x-icon" href="{{ App.request.baseUrl~'/uploads/images/'~App.config.get('favicon') }}">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/bootstrap.min.css' }}">
	<!-- Mobile Menu Slicknav CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/slicknav.css' }}">
	<!-- Font-awesome CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/font-awesome.min.css' }}">
	<!-- rs-plugin CSS -->			
	{#<link href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/lib/rs-plugin/css/settings.css' }}" rel="stylesheet" />#}
	<link href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/owl.carousel.css' }}" rel="stylesheet">
	<!-- normalize CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/normalize.css' }}">
	<!-- main CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/main.css' }}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/style.css' }}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="{{ App.request.baseUrl~'/css/'~App.theme.name~'/css/responsive.css' }}">
	<!-- modernizr js -->
 	<script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/vendor/modernizr-2.6.2.min.js' }}"></script>
	<title>{% block title %}{{ C.Html.encode(this.pageTitle) }}{% endblock %}</title>
</head>

<body>
	<!--HEADER AREA START-->
		<header>
		<div class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<!--HEADER-TOP-MENU LEFT START-->
						<div class="header-top-menu">
							<nav>
								{%
									set headertopmenu = this.widget('zii.widgets.CMenu', {
										'id':'header-top-menu',
										'items':{
											'0':{
												'label':'<i class="fa fa-language"></i><span> <i class="fa fa-angle-down"></i></span>', 'url':'#',
												'items':{
													'0':{'label':'Bahasa Indonesia','url':{'0':'/home'}},
													'1':{'label':'English','url':{'0':'/home'}}
												},
											},
											'1':{
												'label':'<i class="fa fa-user"></i><span><i class="fa fa-angle-down"></i></span>', 'url':'#',
												'items':{
													'0':{'label':'Profile','url':{'0':'/profile'}},
													'1':{'label':'Logout','url':{'0':'/site/logout'}}
												},
											},
											'2':{
												'label':'<i class="fa fa-usd"></i><span><i class="fa fa-angle-down"></i></span>', 'url':'#',
												'items':{
													'0':{'label':'Rupiah (IDR)','url':{'0':'/'}},
													'1':{'label':'Dollar (USD)','url':{'0':'/'}}
												},
											},
										},
										'submenuHtmlOptions':{'class':'sup-menu'},
										'activeCssClass':'active',
										'encodeLabel':false,
									})
								%}
							</nav>
						</div>
						<!--HEADER-TOP-MENU-LEFT END-->
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<!--HEADER-TOP-MENU-RIGHT START-->
						<div class="header-top-right">
							<div class="heder-right-menu">
							<nav>
								<ul>
									<li><a href="category_grid.html"><span><i class="fa fa-align-justify"></i></span>All Category <span class="dropdown"><i class="fa fa-angle-down"></i></span></a>
										<ul>
											<li><a href="category_grid.html">Mens</a></li>
											<li><a href="category_grid.html">Womens</a></li>
											<li><a href="category_grid.html">Bag</a></li>
											<li><a href="category_grid.html">Digital Camera</a></li>
										</ul>
									</li>
								</ul>
							</nav>
							</div>
							<div class="form-and-cart">
								<form action="#">
									<input type="text" placeholder="Search..."/>
									<span class="search-button"><i class="fa fa-search"></i></span>
								</form>
								<div class="cart-empty shopping_cart">
									<a href="#"><i class="fa fa-shopping-cart"></i></a>
									<!-- CART-PRODUCT-LIST START-->
									<div class="cart-product-list">
										<div class="mini-cart-content">
											<div class="cart-img-details">											
												<div class="cart-img-photo">
													<a href="#"><img src="img/cart_list_prod.jpg" alt="" /></a>
													<span class="quantity">1</span>
												</div>
												<div class="cart-img-contaent">
													<a href="#"><h4>Vestibulum et mollis nunc</h4></a>
													<span>$120.00</span>
												</div>
												<div class="pro-del"><a href="#"><i class="fa fa-times-circle"></i></a></div>
											</div>
											<div class="clear"></div>
											<div class="cart-img-details">											
												<div class="cart-img-photo">
													<a href="#"><img src="img/cart_list_prod_2.jpg" alt="" /></a>
													<span class="quantity">1</span>
												</div>
												<div class="cart-img-contaent">
													<a href="#"><h4>Aenean eu tristique</h4></a>
													<span>$170.00</span>
												</div>
												<div class="pro-del"><a href="#"><i class="fa fa-times-circle"></i></a></div>
											</div>
											<p class="total">Subtotal: <span class="amount">$290.00</span></p>
											<div class="clear"></div>
											<p class="cart-button-top"><a href="checkout.html">Checkout</a></p>
										</div>
									</div>
									<!-- CART-PRODUCT-LIST END-->
								</div>
							</div>
						</div>
						<!--HEADER-TOP-MENU-RIGHT END-->
					</div>
				</div>
			</div>
		</div>
		<!--HEADER AREA TOP END-->
		<!--MAINMENU AREA START-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="main-menu">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="row">							
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<!--LOGO AREA START-->
									<div class="logo">
										{{ C.Html.link(C.Html.image(App.request.baseUrl~'/uploads/images/'~App.config.get('logo')),{'0':'/home'},{'class':'logo'}) |raw }}
									</div>
									<!--LOGO AREA END-->
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8">
								<!--MAINMENU START-->
									<div class="mainmenu">
										<nav>										
											{% set menu = this.widget('mainMenu') %}
										</nav>
									</div>
									<!--MAINMENU END-->
								</div>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU START-->
					<div class="row">
						<div class="col-md-12">
							<div class="mobile-menu">
								<ul id="mobile-menu">
									<li>
										<a href="index.html">Home</a>
										<ul>
											<li><a href="index-2.html">Home page 2</a></li>
											<li><a href="index-3.html">Home page 3</a></li>
										</ul>
									</li>
									<li><a href="#">About</a></li>
									<li><a href="blog_sidebar.html">Blogs</a>
										<ul>
											<li><a href="blog_sidebar.html">Blog With Sidebar</a></li>
											<li><a href="blog_no_sidebar.html">Blog With Out Sidebar</a></li>
											<li><a href="blog_details.html">Blog details page</a></li>
										</ul>
									</li>
									<li><a href="category_grid.html">Shop</a>
										<ul>
											<li><a href="category_grid.html">Men</a></li>
											<li><a href="category_grid.html">Women</a></li>
											<li><a href="category_grid.html">Shoes</a></li>
											<li><a href="category_grid.html">Bags</a></li>
											<li><a href="category_grid.html">Accessories</a></li>
											<li><a href="category_grid.html">Clothings</a></li>
											<li><a href="category_grid.html">Shop full width</a></li>
											<li><a href="category_grid.html">Shop sidebar right</a></li>
											<li><a href="category_grid.html">Shop sidebar left</a></li>
											<li><a href="category_grid.html">Sategory listing</a></li>
											<li><a href="product_details.html">Products detail</a></li>
											<li><a href="#">Checkout</a></li>
											<li><a href="cart.html">Cart</a></li>
											<li><a href="#">My account</a></li>
											<li><a href="#">Order tracking</a></li>
										</ul>
									</li>
									<li><a href="category_list.html">Featured</a></li>
									<li><a href="contact_us.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU END-->
				</div>
			</div>
		</div>
		<!--MAINMENU AREA END-->
		</header>
		<!--HEADER AREA END-->
		{% block content %}
			<div id="content-frame">
			{{content | raw}}
			</div>
		{% endblock %}
	
		<!-- FOOTER-AREA START-->
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="footer">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-5">
									<!-- FOOTER-LOGO START-->
									<div class="footer-logo">
										<a href="index.html"><img alt="" src="img/logo_footer_1.png"></a>
										<p>Vestibulum gravida magna ut commodo lacinia. Quisque dictum in arcu ut vestibulum. Morbi sed tempor lacus...  <a href="#">Readmore>></a></p>
									</div>
									<!-- FOOTER-LOGO END-->
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4 hidden-sm">
									<!-- INFORMATION START-->
									<div class="information">
										<h3>Infomation</h3>
										<ul>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													Specials
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													New products
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													Best sellers
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													Our stores
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													Contact us
												</a>
											</li>
										</ul>
									</div>
									<!-- INFORMATION END-->
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
								<!-- MYACCOUNT START-->
									<div class="myaccount">
										<h3>My Account</h3>
										<ul>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													My orders
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													My credit slips
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													My addresses
												</a>
											</li>
											<li>
												<a href="#">
													<span><i class="fa fa-arrow-circle-o-right"></i></span>
													My personal info
												</a>
											</li>
										</ul>
									</div>
									<!-- MYACCOUNT END-->
								</div>
								
								<!-- JOIN-US AREA START-->
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="join-us">
										<h3>Join us</h3>
										<span>Follow with us now!</span>
									</div>
									<div class="social-icon">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- JOIN-US AREA END-->
							</div>
							<!-- ROW END-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER-AREA START-->
		<div class="footer-bottum-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="footer-bottum">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<!-- FOOTER-BOTTUM-MENU START-->
									<div class="footer-bottum-menu">
										<ul>
											<li><a href="#">Our stores</a></li>
											<li><a href="#">Contact us</a></li>
											<li><a href="#">Terms and conditions of use</a></li>
											<li><a href="#">About us</a></li>
											<li><a href="#">Sitemap</a></li>
										</ul>
									</div>
									<!-- FOOTER-BOTTUM-MENU END-->
								</div>
								<div class="col-lg-6 col-md-6">
									<!-- CARD-AREA START-->
									<div class="card-area">
										<a href="#"><img src="img/paypal.png" alt="" /></a>
										<a href="#"><img src="img/amazon.png" alt="" /></a>
										<a href="#"><img src="img/skrill.png" alt="" /></a>
										<a href="#"><img src="img/visa.png" alt="" /></a>
										<a href="#"><img src="img/discover.png" alt="" /></a>
										<a href="#"><img src="img/master.png" alt="" /></a>
									</div>
									<!-- CARD-AREA END-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- COPY-RIGHT START-->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="copy-right">
						<p>Copyright &copy; 2015 <a href="#">Rammustheme</a>. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
		<!-- COPY-RIGHT END-->	
		<!-- QUICKVIEW PRODUCT -->
		<div id="quickview-wrapper">
			<!-- Modal -->
			<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="modal-product">
								<div class="product-images">
									<div class="main-image images">
										<img alt="" src="img/product/fetured/fetured_1.jpg">
									</div>
									<div class="thumbnail-img">
										<img src="img/product/product_details/product_details_small_1.jpg" alt="" />
										<img src="img/product/product_details/product_details_small_2.jpg" alt="" />
										<img src="img/product/product_details/product_details_small_3.jpg" alt="" />
									</div>
								</div><!-- .product-images -->
								
								<div class="product-info">
									<h1>Vestibulum et mollis nunc</h1>
									<div class="price-box">
										<p class="price"><span class="special-price"><span class="amount">$120.00</span></span></p>
									</div>
									<a href="#" class="see-all">See all features</a>
									<div class="quick-add-to-cart">
										<form method="post" class="cart">
											<div class="numbers-row">
												<input type="number" id="french-hens" value="3">
											</div>
											<button class="single_add_to_cart_button" type="submit">Add to cart</button>
										</form>
									</div>
									<div class="quick-desc">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
									</div>
									<div class="social-sharing">
										<div class="widget widget_socialsharing_widget">
											<h3 class="widget-title-modal">Share this product</h3>
											<ul class="social-icons">
												<li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
												<li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
												<li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
												<li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
												<li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div><!-- .product-info -->
							</div><!-- .modal-product -->
						</div><!-- .modal-body -->
					</div><!-- .modal-content -->
				</div><!-- .modal-dialog -->
			</div>
			<!-- END Modal -->
		</div>
		<!-- END QUICKVIEW PRODUCT -->
		
		
		<!-- jquery-1.11.3.min js -->
        <script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/vendor/jquery-1.11.3.min.js' }}"></script>
		<!-- bootstrap.min js -->
        <script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/bootstrap.min.js' }}"></script>
		<!-- jquery.slicknav.min js -->
        <script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/jquery.slicknav.min.js' }}"></script>
		<!-- plugins js -->
        <script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/plugins.js' }}"></script>
		<!-- jquery.scrollUp js -->
        <script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/jquery.scrollUp.min.js' }}"></script>
		<!-- owl.carousel.min js -->
        <script src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/owl.carousel.min.js' }}"></script>
		<!-- main JS -->
		<script async src="{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/main.js'}}"></script>
{# set loading = this.widget('ext.widgets.loading.LoadingWidget') #}
<script type="text/javascript">
	/*(function () {
		var scr = document.createElement("script");
		scr.setAttribute('async', 'true');
		scr.type = "text/javascript";
		scr.src = "{{ App.request.baseUrl~'/css/'~App.theme.name~'/js/analitik.js' }}";
		((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
	}());
	window.onload = function(e){ 
		ma.create(document,"{{ App.createUrl('site/tracking') }}");
		ma.send();
	}*/
</script>
</body>
</html>
